---
---

<div class = "sidebar">
    <nav>
    <a href="/">home</a>
    <br/>
    <a href="/search/">search</a>
    </nav>
</div>


<style>
    .sidebar {
        width: 10%;
        height: 100px;
        grid-column-end: 1;
        grid-row-end: 2;
    }
</style>
