---
import Layout from '../layouts/Layout.astro';
import Track from '../components/Track.astro';
import SearchBar from '../components/SearchBar.astro';
import Sidebar from '../components/Sidebar.astro';
---

<Layout title="Welcome to Astro.">
	<main>
    <Sidebar class="sidebar"/>
    <div>
    <p>search</p>
    <SearchBar/>
    <Track id="0"/>
    <Track id="1"/>
    <Track id="2"/>
    <Track id="3"/>
    <Track id="4"/>
    </div>
	</main>
</Layout>


<style>
	main {
		margin: auto;
		padding: 1rem;
		max-width: calc(100% - 2rem);
        width: 100%;
        height: 100%;
		color: white;
		font-size: 20px;
		line-height: 1.6;
        display: inline-grid;
        gap: 10, 10;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
